.email-availability {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 18px;
  background-color: #FFF;
  box-shadow: 0px 10px 40px rgba(25, 36, 47, 0.1);
  margin-bottom: 3rem; }
  .email-availability > p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #19242F; }
  .email-availability > :not(:last-child) {
    margin-right: 1rem; }
  .email-availability__button {
    border-radius: 1.8rem !important;
    font-family: 'Poppins-SemiBold' !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important; }
  .email-availability__email {
    display: inline-block;
    max-width: 15rem; }

.email-label {
  font-family: 'Poppins-Medium'; }

.apps {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .apps > img {
    margin: 0 .5rem; }
  .apps-description {
    max-width: 10rem;
    margin-right: 2rem; }

.whats-included {
  position: relative;
  background-color: #fff;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0px 10px 40px rgba(25, 36, 47, 0.1); }
  .whats-included__header {
    font-family: 'Poppins-Bold';
    font-size: 3.6rem;
    margin-bottom: 2rem; }
  .whats-included__peach {
    width: 12rem;
    height: auto;
    position: absolute;
    bottom: -15%;
    right: -8.5%; }
  .whats-included__subpoint {
    margin-top: 2rem; }

.btn, .btn:link, .btn:visited {
  font-family: 'Poppins';
  text-decoration: none;
  padding: 1.65rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  color: #FFF; }

.btn-green {
  background-color: #42B067; }

.btn-black {
  background-color: #19242F; }

.navbar {
  margin: 1.9rem 195px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hero {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #EEFEF3 0%, rgba(238, 254, 243, 0) 100%);
  height: 42.1rem;
  border-radius: 60px;
  padding: 3rem 5rem; }
  .hero__left {
    max-width: 44rem;
    margin-left: 85px; }
    .hero__left-title {
      margin-top: 2.1rem;
      margin-bottom: 1rem; }
    .hero__left-table {
      margin-bottom: 2rem; }
  .hero__right {
    max-width: 53rem;
    margin-right: 85px; }

.numbered-list {
  font-size: 1.4rem; }
  .numbered-list__number {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgba(66, 176, 103, 0.1);
    border: 1px solid rgba(66, 176, 103, 0.5);
    box-sizing: border-box;
    color: #42B067;
    text-align: center; }
  .numbered-list__text {
    padding-left: 1.2rem;
    color: rgba(25, 36, 47, 0.8); }
  .numbered-list__spacer {
    height: .6rem; }

.unordered-list__bullet {
  height: 4rem;
  width: 4rem;
  border-radius: 30%;
  background: rgba(66, 176, 103, 0.1);
  text-align: center; }
  .unordered-list__bullet > img {
    width: 2rem;
    height: auto; }

.unordered-list__text {
  padding-left: 1.2rem;
  color: rgba(25, 36, 47, 0.8);
  font-size: 1.4rem; }

.unordered-list__spacer {
  height: .6rem; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.header-one {
  font-family: 'Poppins-Bold';
  font-size: 3.6rem;
  line-height: 4.5rem; }

.bold-text {
  font-family: 'Poppins-Bold';
  color: #19242F; }

@font-face {
  font-family: 'Poppins';
  src: url("/SCSS/fonts/Poppins/Poppins-Regular.ttf"); }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("/SCSS/fonts/Poppins/Poppins-Bold.ttf"); }

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("/SCSS/fonts/Poppins/Poppins-SemiBold.ttf"); }

@font-face {
  font-family: 'Poppins-Medium';
  src: url("/SCSS/fonts/Poppins/Poppins-Medium.ttf"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  margin: 0 110px; }

.orange-pink-gradient {
  background: linear-gradient(to right, #E7BF54, #D15A93);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }
