.email-availability {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 18px;
    background-color: #FFF;
    box-shadow: 0px 10px 40px rgba(25, 36, 47, 0.1); 
    margin-bottom: 3rem;

    & > p {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #19242F;
    }

    & > :not(:last-child) {
        margin-right: 1rem;
    }

    &__button {
        border-radius: 1.8rem !important;
        font-family: 'Poppins-SemiBold' !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    &__email {
        display: inline-block;
        max-width: 15rem;
    }
}

.email-label {
    font-family: 'Poppins-Medium';
}

.apps {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > img {
        margin: 0 .5rem;
    }

    &-description {
        max-width: 10rem;
        margin-right: 2rem;
    }
}

.whats-included {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    border-radius: 3rem;
    box-shadow: 0px 10px 40px rgba(25, 36, 47, 0.1);

    &__header {
        font-family: 'Poppins-Bold';
        font-size: 3.6rem;
        margin-bottom: 2rem;
    }

    &__peach {
        width: 12rem;
        height: auto;
        position: absolute;
        bottom: -15%;
        right: -8.5%;
    }

    &__subpoint {
        margin-top: 2rem;
    }
}