.btn {
    &,
    &:link,
    &:visited {
        font-family: 'Poppins';
        text-decoration: none;
        padding: 1.65rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1.4rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
        color: $color-white;
    }

    &-green {
        background-color: #42B067;
    }

    &-black {
        background-color: #19242F;
    }
}
