.hero {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #EEFEF3 0%, rgba(238, 254, 243, 0) 100%);
    height: 42.1rem;
    border-radius: 60px;
    padding: 3rem 5rem;

    &__left {
        max-width: 44rem;
        margin-left: $default-gutter-in-container;

        &-title {
            margin-top: 2.1rem;
            margin-bottom: 1rem;
        }

        &-table {
            margin-bottom: 2rem;
        }
    }

    &__right {
        max-width: 53rem;
        margin-right: $default-gutter-in-container;
    }
}