.numbered-list {
    font-size: 1.4rem;

    &__number {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background: rgba(66, 176, 103, 0.1);
        border: 1px solid rgba(66, 176, 103, 0.5);
        box-sizing: border-box;
        color: $color-dark-green;
        text-align: center;
    }

    &__text {
        padding-left: 1.2rem;
        color: $default-font-color;
    }

    &__spacer {
        height: .6rem;
    } 
}