.unordered-list {

    &__bullet  {
        height: 4rem;
        width: 4rem;
        border-radius: 30%;
        background: rgba(66, 176, 103, 0.1);
        text-align: center;

        & > img {
            width: 2rem;
            height: auto;
        }
    }

    &__text { 
        padding-left: 1.2rem;
        color: $default-font-color;
        font-size: 1.4rem;
    }

    &__spacer {
        height: .6rem;
    }

}