body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.header-one {
    font-family: 'Poppins-Bold';
    font-size: 3.6rem;
    line-height: 4.5rem;
}

.bold-text {
    font-family: 'Poppins-Bold';
    color: #19242F;
}

@font-face {
    font-family: 'Poppins';
    src: url('/SCSS/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/SCSS/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/SCSS/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/SCSS/fonts/Poppins/Poppins-Medium.ttf');
}