$default-font-size: 1.6rem;
$default-font-color: rgba(25, 36, 47, 0.8);
$default-gutter: 195px;
$default-gutter-in-container: 85px;

$color-dark-green: #42B067;
$color-light-green: #EEFEF3;

$color-pink: #D15A93;


$color-orange: #E7BF54;

$color-black: #19242F;
$color-white: #FFF;
